version: "3.9"

services:
  zookeeper:
    image: zookeeper:3.9.2
    container_name: zookeeper
    restart: unless-stopped
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=zookeeper:2888:3888;2181
    volumes:
      - ./data/zookeeper/data:/data
      - ./data/zookeeper/datalog:/datalog

  fluss-coordinator:
    image: apache/fluss:0.8.0-incubating
    container_name: fluss-coordinator
    restart: unless-stopped
    command: coordinatorServer
    depends_on:
      - zookeeper
    ports:
      - "9123:9123"
    environment:
      - |
        FLUSS_PROPERTIES=
        zookeeper.address: zookeeper:2181

        bind.listeners: INTERNAL://fluss-coordinator:0, CLIENT://fluss-coordinator:9123
        advertised.listeners: CLIENT://192.168.1.4:9123
        internal.listener.name: INTERNAL

        remote.data.dir: /tmp/fluss/remote-data

        # Optional now (useful later for tiering -> Paimon)
        datalake.format: paimon
        datalake.paimon.metastore: filesystem
        datalake.paimon.warehouse: /tmp/paimon
    volumes:
      - ./data/fluss/remote:/tmp/fluss/remote-data
      - ./data/paimon:/tmp/paimon

  fluss-tablet:
    image: apache/fluss:0.8.0-incubating
    container_name: fluss-tablet
    restart: unless-stopped
    command: tabletServer
    depends_on:
      - fluss-coordinator
    # Publish tablet on a different host port (same idea as Fluss docs) :contentReference[oaicite:4]{index=4}
    ports:
      - "9124:9123"
    environment:
      - |
        FLUSS_PROPERTIES=
        zookeeper.address: zookeeper:2181

        tablet-server.id: 0

        bind.listeners: INTERNAL://fluss-tablet:0, CLIENT://fluss-tablet:9123
        advertised.listeners: CLIENT://192.168.1.4:9124
        internal.listener.name: INTERNAL

        data.dir: /tmp/fluss/data
        remote.data.dir: /tmp/fluss/remote-data
        kv.snapshot.interval: 0s

        # Optional now (useful later for tiering -> Paimon)
        datalake.format: paimon
        datalake.paimon.metastore: filesystem
        datalake.paimon.warehouse: /tmp/paimon
    volumes:
      - ./data/fluss/tablet:/tmp/fluss/data
      - ./data/fluss/remote:/tmp/fluss/remote-data
      - ./data/paimon:/tmp/paimon
