services:
  fluss-coordinator:
    image: apache/fluss:0.8.0-incubating
    container_name: fluss-coordinator
    command: coordinatorServer
    depends_on:
      - zookeeper
    environment:
      - |
        FLUSS_PROPERTIES=
        zookeeper.address: zookeeper:2181
        bind.listeners: FLUSS://fluss-coordinator:9123
        remote.data.dir: /tmp/fluss/remote-data
    ports:
      - "9123:9123"
    volumes:
      - ./data/fluss/remote:/tmp/fluss/remote-data
    networks:
      - lakehouse

  fluss-tablet:
    image: apache/fluss:0.8.0-incubating
    container_name: fluss-tablet
    command: tabletServer
    depends_on:
      - fluss-coordinator
    environment:
      - |
        FLUSS_PROPERTIES=
        zookeeper.address: zookeeper:2181
        bind.listeners: FLUSS://fluss-tablet:9123
        data.dir: /tmp/fluss/data
        remote.data.dir: /tmp/fluss/remote-data
        kv.snapshot.interval: 0s
    volumes:
      - ./data/fluss/tablet:/tmp/fluss/data
      - ./data/fluss/remote:/tmp/fluss/remote-data
    networks:
      - lakehouse

  zookeeper:
    image: zookeeper:3.9.2
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=zookeeper:2888:3888;2181
    volumes:
      - ./data/zookeeper/data:/data
      - ./data/zookeeper/datalog:/datalog
    networks:
      - lakehouse
