services:
  postgres-source:
    image: postgres:14
    container_name: postgres-source
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: source_db
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres-source:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    command:
      - "postgres"
      - "-c"
      - "wal_level=logical"
      - "-c"
      - "max_replication_slots=4"
      - "-c"
      - "max_wal_senders=4"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d source_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
