services:
  garage:
    image: dxflrs/garage:v1.0.1
    container_name: garage
    ports:
      - "3900:3900"
      - "3901:3901"
      - "3902:3902"
      - "3903:3903"
    volumes:
      - ./data/garage/data:/var/lib/garage/data
      - ./data/garage/meta:/var/lib/garage/meta
      - ./config/garage.toml:/etc/garage.toml
    command: ["/garage", "server"]
    healthcheck:
      test: ["CMD", "/garage", "-c", "/etc/garage.toml", "status"]
      interval: 10s
      timeout: 3s
      retries: 6
      start_period: 20s
